<div class="form-group">
	<label class="col-sm-4 control-label" for="productEbay">
		EBay Link
	</label>
	<div class="col-sm-8">
		<input type="text" placeholder="Optional" id="productEbay" class="form-control" ng-model="prodEbay">
	</div>		
</div>
<div class="form-group">
	<label class="col-sm-4 control-label" for="productAmazon">
		Amazon Link
	</label>
	<div class="col-sm-8">
		<input type="text" placeholder="Optional" id="productAmazon" class="form-control" ng-model="prodAmazon">
	</div>		
</div>
<div class="form-group">
	<label class="col-sm-4 control-label" for="productLiqua">
		Liquamart link
	</label>
	<div class="col-sm-8">
		<input type="text" placeholder="Optional" id="productLiqua" class="form-control" ng-model="prodLiqua">
	</div>		
</div>
<div class="form-group">
	<label class="col-sm-4 control-label" for="productPdf">
		PDF
	</label>
	<div class="col-sm-8">
		<input type="text" placeholder="Optional" id="productPdf" class="form-control" ng-model="prodPdf">
	</div>		
</div>
<div class="form-group">
	<label class="col-sm-4 control-label" for="productYoutube">
		YouTube link
	</label>
	<div class="col-sm-8">
		<input type="text" placeholder="Optional" id="productYoutube" class="form-control" ng-model="prodYoutube">
	</div>		
</div>